# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd

# exp
exp

# data
dataset/wm_videos/*
dataset/Benchmark/*
video_frames

evaluation_results/*

# vggt code
models/vggt/VGGT-1B

# lsf
*.bsub

# Hydra / ML outputs
models/anycam/outputs/
**/.hydra/

# pretrained models and checkpoints
models/anycam/pretrained_models/
*.pt
*.pth
*.ckpt

# TensorBoard
events.out.tfevents*

# General
__pycache__/
*.pyc
.env
.venv